APP_NAME=xxx
APP_ENV=xxx
APP_DEBUG=xxx
API_PREFIX=xxx
MAX_IMAGE_SIZE_BYTES=xxx
FOOD_CLIP_MODEL_ID=xxx
FOOD_CLIP_THRESHOLD=xxx
INFERENCE_BASE_URL=xxx
INFERENCE_PREDICT_PATH=xxx
INFERENCE_TIMEOUT_SECONDS=xxx
ALLOWED_ORIGINS=xxx
OPENAI_API_KEY=xxx
OPENAI_MODEL=xxx
OPENAI_TIMEOUT_SECONDS=xxx
