APP_NAME=xxx
APP_ENV=xxx
APP_DEBUG=true
API_PREFIX=xxx
MAX_IMAGE_SIZE_BYTES=xxx
FOOD_CLIP_MODEL_ID=openai/clip-vit-base-patch32
FOOD_CLIP_THRESHOLD=xxx
INFERENCE_BASE_URL=xxx
INFERENCE_PREDICT_PATH=xxx
INFERENCE_TIMEOUT_SECONDS=xxx
